.header{
    margin: 2%;
    padding: 2%;
    position: static;
    height:100%;    
    font-style: italic;
    color:black;
    font-size: 28px;
    font-weight: bolder;
    border: 1px solid black;
    position: relative;
    width: 80%;
    background-color: burlywood;

    


}
.info{
    background-color: blanchedalmond;
    float: center;
    font-size: 25px;
    margin-right: 250px;
    margin-bottom: 300px;
}
.body{
    background-color: whitesmoke
}
.footer{
    
    clear: both;
    position:relative;
    padding-top: 20px;
    padding-bottom: 40px;
    height: 600px;
    padding: 30px 5px 30px 0px;
}